* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}

body {
    background: #ffffff;
    color: #222;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    background: #ffffff;
    box-shadow: 0 3px 15px rgba(0,0,0,0.08);
}

.logo img {
    width: 190px;
}

nav a {
    text-decoration: none;
    color: #12355b;
    margin-left: 30px;
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
    color: #f58220;
}


/* Hero Section */

.hero {
    min-height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 8%;
    background: linear-gradient(120deg,#f4faff,#ffffff);
}


.hero-text {
    width: 55%;
}


.hero h1 {
    font-size: 55px;
    line-height: 1.2;
    color:#12355b;
}


.hero h1 span {
    color:#f58220;
}


.hero p {
    margin-top:25px;
    font-size:18px;
    line-height:1.8;
    color:#555;
}


.button {
    display:inline-block;
    margin-top:30px;
    padding:15px 35px;
    background:#f58220;
    color:white;
    text-decoration:none;
    border-radius:40px;
    font-weight:bold;
}


.hero img {
    width:330px;
}



/* Sections */

section {
    padding:80px 8%;
}


.title {
    text-align:center;
    font-size:38px;
    color:#12355b;
    margin-bottom:50px;
}



/* Services */

.cards {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
}


.card {
    width:270px;
    padding:35px 25px;
    background:white;
    border-radius:15px;
    text-align:center;
    box-shadow:0 8px 25px rgba(0,0,0,0.08);
}


.card h3 {
    color:#f58220;
    margin-bottom:15px;
}



/* Why Choose */

.choose {
    background:#12355b;
}


.choose .title {
    color:white;
}


.choose-box {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
}


.choose-item {
    width:260px;
    background:white;
    padding:30px;
    border-radius:15px;
    text-align:center;
}


.choose-item h3 {
    color:#12355b;
    margin-bottom:15px;
}



/* Contact */

.contact {
    text-align:center;
    font-size:18px;
    line-height:2;
}



/* Footer */

footer {
    background:#12355b;
    color:white;
    padding:40px 8%;
    text-align:center;
}


footer a {
    color:white;
    margin:10px;
    text-decoration:none;
}


/* Mobile */

@media(max-width:768px){

header {
    flex-direction:column;
}

nav {
    margin-top:20px;
}


.hero {
    flex-direction:column;
    text-align:center;
}


.hero-text {
    width:100%;
}


.hero h1 {
    font-size:38px;
}


.hero img {
    margin-top:40px;
}


}
